extends layout

block content
  section.top-entr-section
    .container 
      .section-header
        h2 #{category.nom}
      .row.g-3.justify-content-between
        if entreprises && entreprises.length > 0
          each ent in entreprises
            .col-md-4.step-col
                a.entr-link(href=`/entreprise/${ent.id_entreprise}`)                  
                  .entr-card
                    .entr-image-box
                        img(src="/images/artisan.jpg" alt="Photo artisan par défaut")
                      h3.entr-nom= ent.nom
                      p.entr-specialite= ent.specialiteNom || 'Artisan'
                      p.entr-ville= ent.ville
                      .stars-container
                        - var rating = ent.note || 0
                        - for (var i = 1; i <= 5; i++)
                          if i <= Math.floor(rating)
                            i.bi.bi-star-fill.star-icon
                          else if i === Math.ceil(rating) && (rating % 1 >= 0.5)
                            i.bi.bi-star-half.star-icon
                          else
                            i.bi.bi-star.star-icon
        else
          p Aucun artisan à afficher pour le moment.
      .row.mt-4.mb-5.text-end
        .col-12
          a.btn.btn-primary(href="/") Retour à l'accueil