extends layout

block content
  h1.mt-4 Artisans dans la catégorie : #{category.nom}
  hr
  
  if artisans && artisans.length > 0
    div.row
      each art in artisans
        div.col-md-4.mb-4
          div.card.h-100
            // On imagine que tu as une colonne 'photo' et 'nom_entreprise'
            img.card-img-top(src=`/images/${art.photo}` alt=art.nom_entreprise)
            div.card-body
              h5.card-title= art.nom_entreprise
              p.card-text= art.description
              a.btn.btn-outline-primary(href=`/artisan/${art.id}`) Voir la fiche
  else
    div.alert.alert-info
      p Aucun artisan trouvé dans cette catégorie pour le moment.