extends layout

block content
  section.artisan-card
    .container
      .section-header
        h1 #{category.nom}
      .section-descripton
        .row.justify-content-center.align-items-center.row-narrow
          .col-auto.d-flex.justify-content-center
            .entr-image-page
              img(src="/images/artisan.jpg" alt="Photo artisan par défaut")
          .col-md-6.ps-md-5
            h2 #{entreprise.nom}
            p.text-muted #{entreprise.speciality ? entreprise.speciality.nom : 'Artisan'} - #{entreprise.ville}      
            p.mt-4 #{entreprise.description}
            p
              i.bi.bi-envelope-fill.me-2 
              a(href="mailto:#{entreprise.email}" rel="noopener noreferrer") Email
            p
              i.bi.bi-globe.me-2
              a(href=entreprise.web target="_blank" rel="noopener noreferrer") Site internet
    // Formulaire de contact
    section.form.py-5
    .container
      .row.justify-content-center
        .col-md-10.col-lg-8
          h2.mb-5 Contacter l'artisan
          form(action='/entreprises/' + entreprise.id_entreprise + '/contact' method="POST")
            .row.g-4.mb-4
              .col-12.col-md-6
                label Nom
                input.form-control(name="nom" required)
              .col-12.col-md-6
                label Prénom
                input.form-control(name="prenom" required)
            .row.g-4.mb-4
              .col-12.col-md-6
                label Email
                input.form-control(type="email" name="email" required)
              .col-12.col-md-6
                label Code Postal
                input.form-control(type="text" name="code_postal" required)
            .mb-4
              label Objet
              input.form-control(name="objet" required)
            .mb-4
              label Message
              textarea.form-control(name="message" rows="4" required)
            button.btn.btn-primary(type="submit") Envoyer
        .row.mt-5.mb-5.text-end
          .col-12
            if category 
              a.btn.btn-primary(href=`/categories/${category.slug}`) Retour à la catégorie #{category.nom}